.add-item-button {
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .add-item-button:hover {
    background-color: #1f618d;
  }
  